/* 
    Document   : style
    Created on : 2012.02.25., 21:29:58
    Author     : Márton Péter
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
}

.infobar {
    color:#ffffff;
    position:absolute;
    right:0;
    width:200px;
    padding:6px;
    height:100%;
    background-color: #000000;

    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
}

.infobar .settings {
    margin:0 0 20px 0;
    padding:10px 10px 20px 10px;
    background-color: #888888;
}

.infobar #slider_attraction {
    margin-bottom: 15px;
}
.infobar h2 {
    color:#ffffff;
    margin:0px 0 15px 0px;
    font-size: 25px;
    font-weight:100;
}

.infobar h3 {
    color:#ffffff;
    margin:0 0 5px 0px;
    font-size: 18px;
    font-weight:100;
}

.infobar #switch3d {
    text-decoration: none;
    color:#484848;
    width:100px;
    display:block;
    background-color: #ffec13;
    position:absolute;
    left:8px;
    bottom:20px;
}
.infobar .profile h3 {
    color:#ffffff;
    margin:6px 0 15px 0px;
    font-size: 20px;
    font-weight:100;
}